/* body {
	background-color: black;
} */

.game-container {
	position: relative;
	height: 40rem;
}

.tablero-container {
	/* margin-top: 30px; */
}

.tablero {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	/* max-width: 95%; */
	/* max-height: 95%; */
}

a {
	color: black;
	font-size: 40px;
}

.piece {
	width: 15px;
	height: 15px;
	background-color: red;
	position: absolute;
	cursor: pointer;
	border-radius: 50%; /* Makes the game piece circular */
	border: 2px solid black;
}

.piece1 {
	left: 10px;
	bottom: 100px;
}

.piece2 {
	left: 100px;
	bottom: 10px;
}

.piece3 {
	left: 50px;
	bottom: 50px;
}

@media (max-width: 480px) {
	.tablero-container {
		margin-top: 100px !important;
		width: 26rem;
	}

	.tablero {
		transform: rotate(90deg);
		max-width: 99%;
		max-height: 99%;
	}
}

@media (min-width: 768px) {
	.tablero {
		max-width: 95%;
		max-height: 95%;
	}

	.piece {
		width: 30px;
		height: 30px;
	}
}

@media (min-width: 1024px) {
	.piece {
		width: 40px;
		height: 40px;
	}
}

@media (min-width: 1500px) {
	.tablero {
		max-width: 60%;
		max-height: 60%;
	}
}
