.board {
	width: 100%; /* Adjust width to the viewport */
	max-height: 100vh; /* Maximum height based on the viewport height */
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board-img {
	max-width: 100%;
	max-height: 100vh;
	object-fit: contain;
	border-radius: 3%;
}

.piece {
	cursor: move;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	border-radius: 50%;
	border: 2px solid black;
}
